<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.adobe.plugins.GAPlugin"
    version="2.0.0">

    <name>GAPlugin</name>
    
    <asset src="www/GAPlugin.js" target="GAPlugin.js" />
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="GAPlugin" value="com.adobe.plugins.GAPlugin"/>
        </config-file>

        <source-file src="src/android/GAPlugin.java"
                target-dir="src/com/adobe/plugins" />
        <source-file src="src/android/libGoogleAnalyticsV2.jar"
                target-dir="libs" />
    </platform>
    
    
    <!-- ios -->
    <platform name="ios">
		<!-- Cordova < 2.3 -->
        <plugins-plist key="GAPlugin" string="GAPlugin" />
                    
		<!-- Cordova >= 2.3 -->
		<config-file target="config.xml" parent="plugins">
			<plugin name="GAPlugin" value="GAPlugin"/>
		</config-file>  
                    
        <source-file src="GAITransactionItem.h" />
        <source-file src="GAITransaction.h" />
        <source-file src="GAITracker.h" />
        <source-file src="GAITrackedViewController.h" />
        <source-file src="GAI.h" />
        <source-file src="GAPlugin.h" />
        <source-file src="GAPlugin.m" />
		<source-file src="libGoogleAnalytics.a" />
        <framework src="libGoogleAnalytics.a" />
        <framework src="CoreData.framework" />
        <framework src="SystemConfiguration.framework" />
    </platform>
</plugin>
