<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.adobe.plugins.GAPlugin"
    version="2.4.0">

    <name>GAPlugin</name>
  <author>Bob Easterday</author>

  <description>
    This plugin allows you to post usage information to your Google Analytics account.
  </description>

  <license>MIT</license>

  <js-module src="www/GAPlugin.js" name="GAPlugin">
      <clobbers target="GAPlugin" />
  </js-module>

  <engines>
      <engine name="cordova" version="&gt;=3.0.0" />
  </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GAPlugin" >
        <param name="android-package" value="com.adobe.plugins.GAPlugin"/>
      </feature>
        </config-file>

        <source-file src="src/android/GAPlugin.java"
                target-dir="src/com/adobe/plugins" />
        <source-file src="src/android/libGoogleAnalyticsV2.jar"
                target-dir="libs" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="GAPlugin">
            <param name="ios-package" value="GAPlugin"/>
          </feature>
        </config-file>

        <source-file src="src/ios/GAPlugin.m" />
        <source-file src="src/ios/libGoogleAnalyticsServices.a" framework="true" />

        <header-file src="src/ios/GAI.h" />
        <header-file src="src/ios/GAIDictionaryBuilder.h" />
        <header-file src="src/ios/GAIFields.h" />
        <header-file src="src/ios/GAILogger.h" />
        <header-file src="src/ios/GAITrackedViewController.h" />
        <header-file src="src/ios/GAITracker.h" />
        <header-file src="src/ios/GAPlugin.h" />

        <framework src="libsqlite3.dylib" />
        <framework src="libz.dylib" />
        <framework src="CoreData.framework" />
        <framework src="SystemConfiguration.framework" />
    </platform>
</plugin>
